/* ESTILIZAÇÃO GERAL DA PÁGINA */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-display: swap;
    font-family: 'Inter';
}

html{
    background-color: #FFF ;
    overflow-x: hidden;
    overscroll-behavior: none;
    font-size: calc(10px + 0.390625vw);
}

.modelHidden{
    display: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33B667;
    width: 100%;
    height: 76px;
}

header img{
     width: 25%;
     max-width: 220px;
}

hr{
    background-color: #DDDDDD;
    border: 0 none;
    color: #DDDDDD;
    height: 1px;
    margin: 15px 0;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainDescription{
    margin-top: 120px;
    font-size: 1.3em;
    text-align: center;
    padding: 0 5px;
}

section{
    border: 1px solid #DDD; 
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 380px;
    margin-top: 60px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.btnLeft, .btnRight{
    width: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.titles{
    text-align: center;
}

.titles p:last-of-type{
    font-size: 0.8em;
    font-weight: 700;
}

.cardModel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.team1, .team2, .score{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 700;
}

.team1, .score{
    gap: 10px;
}

.team2{
    gap: 15px;
}

.score img{
    width: 10px;
}

.cardModelContainer:last-of-type hr{
    display: none;
}

.btnOpacity{
    opacity: 0.4;
    cursor: default;
}

/*MEDIA QUERRIES*/
@media (min-width: 1800px) {
    .team1, .team2, .score{
        font-size: 0.7em;
    }

    .titles{
        font-size: 1em;
    }
}

@media (max-width: 1200px) {
    .team1, .team2, .score{
        font-size: 0.8em;
    }

    .titles{
        font-size: 1.1em;
    }
}

@media (max-width: 1025px) {
    .team1, .team2, .score{
        font-size: 0.9em;
    }

    .titles{
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .team1, .team2, .score{
        font-size: 1em;
    }

    .titles{
        font-size: 1.3em;
    }

    header img{
        width: 40%;
        max-width: 220px;
   }

   .mainDescription{
        margin-top: 100px;
   }
}

@media (max-width: 480px){
    .team1, .team2, .score{
        font-size: 1.1em;
    }

    .titles{
        font-size: 1.4em;
    }

    header img{
        width: 55%;
        max-width: 220px;
   }
}

@media (max-width: 280px){
    .team1 img, .team2 img{
        width: 20px;
    }
}